<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="ec2f1bf7-1877-489c-817d-9e82c78b9ff2"
            Publisher="CN=f_swallow_Main"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>twksr for WinRT_cs</DisplayName>
    <PublisherDisplayName>f_swallow_Main</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="twksr_for_WinRT_cs.App">
        <VisualElements
            DisplayName="twksr for WinRT_cs"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="twksr for WinRT_cs"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>